body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2 {
    font-weight: bold;
}

section {
    padding: 50px 0;
}
.navbar-brand img {
    border-radius: 50%; /* Makes the logo circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.navbar-brand span {
    font-weight: bold;
    font-size: 1.25rem; /* Adjust font size */
    color: #333; /* Customize text color */
}


